{% extends 'base.html.twig' %}

{% block title %}About | {% endblock %}

{% block body %}
	<div class="row">
		<article class="col-md-8 col-md-offset-2 center">
    	<h1>About</h1>
    	<p>
    		This is a <em><a href="https://github.com/OneTwo7/symfony_sample_app">
    		sample application</a></em>
    		written using
    		<a href="https://symfony.com/">Symfony PHP framework</a>.
    		The application is a PHP copy of the one developed in the
    		<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    		by Michael Hartl.
    	</p>
  	</article>
  </div>
{% endblock %}