{% extends 'base.html.twig' %}

{% block body %}
	<div id="container">
    <h1>Welcome to Symfony!</h1>
    <a href="/help">Help</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
{% endblock %}