{% set current_user = app.user %}
{% if user != current_user %}
  <div id="follow_form">
  {% if current_user.isFollowing(user) %}
    <a href="/user/unfollow/{{ user.id }}" class="btn btn-default btn-block">
    	Unfollow
    </a>
  {% else %}
    {{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
  {% endif %}
  </div>
{% endif %}