{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} | {% endblock %}

{% block body %}
	<div class="row">
	  <aside class="col-md-4">
	    <section class="user_info">
	      <h1>
	        {{ user.username }}, {{ user.email }}
	      </h1>
	    </section>
	  </aside>
	  {% if count %}
		  <div class="col-md-8">
		  	<h3>Microposts ({{ count }})</h3>
	      <ol class="microposts">
		    {% for micropost in microposts %}
		      {% include "./microposts/micropost.html.twig" %}
		    {% endfor %}
		    </ol>
		    <p>Pagination</p>
		  </div>
		{% endif %}
	</div>
{% endblock %}