<footer class="footer">
  <small>
    Symfony Sample Application
  </small>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="http://symfony.com/blog/">News</a></li>
    </ul>
  </nav>
</footer>