<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}Sample App</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    {% include "./partials/header.html.twig" %}
    <div class="container">
      {% block body %}{% endblock %}
      {% include "./partials/footer.html.twig" %}
    </div>

    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="{{ asset('js/javascript.js') }}"></script>
  </body>
</html>
