@import 'mixins';

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#remember_me {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 20px;
  width: auto;
  margin-left: 0;
}

#login_submit {
  display: block;
}