{% extends 'base.html.twig' %}

{% block body %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Log in</h3>
    </div>
    <div class="panel-body">
      {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
      
      <form action="{{ path('login') }}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="_email"
               value="{{ last_email }}" class="form-control">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"
               class="form-control">

        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">Keep me logged in</label>

        <input type="hidden" name="_target_path" value="/">

        <button type="submit" id="login_submit" class="btn btn-primary">
          login
        </button>
      </form>
    </div>
  </div>

{% endblock %}